// fonts
$font: "Quicksand";

// colors
$white: #ffffff;
$black: #1c1f25;
$gray: #6a6e77;
$gray-2: #e3e6ec;

// vallues
// $padding: 12.5%;
$padding: clamp(2rem, 12.5vw, 24rem);

// @media (min-width: 480px) {
// }

// @media (max-width: 479px) {
// }

// @media (min-width: 768px) {
// }

// @media (max-width: 767px) {
// }

// @media (min-width: 1025px) {
// }

// @media (max-width: 1024px) {
// }

// @media (min-width: 1201px) {
// }

// @media (max-width: 1200px) {
// }
