.screen-12__wrapper {
	position: relative;

	display: flex;
	align-items: center;

	padding: clamp(2rem, 14vh, 15.6rem) $padding;

	@media (min-width: 768px) {
		min-height: 55vh;
	}

	@media (max-width: 767px) {
		height: 100%;
	}

	&::after {
		position: absolute;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;

		background-color: rgba($black, 0.6);

		content: "";
	}
}

.screen-12__articles {
	position: relative;

	display: flex;
	gap: 4rem;

	width: 100%;

	z-index: 1;

	@media (min-width: 768px) {
		justify-content: space-between;
	}

	@media (max-width: 767px) {
		flex-direction: column;
	}
}

.screen-12__image {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	object-fit: cover;
}
