.screen-04__heading {
	&:not(:last-child) {
		margin-bottom: clamp(4rem, 8vw, 15.2rem);
	}
}

.screen-04__articles {
	display: grid;

	@media (min-width: 768px) {
		grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
		gap: 4.8rem;
	}

	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		gap: 4rem;
	}
}
