.screen-11__wrapper {
	@media (min-width: 768px) {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}
}

.screen-11__articles {
	display: grid;

	@media (min-width: 768px) {
		flex: 0 1 50%;
		row-gap: clamp(4rem, 3.1vw, 6rem);

		padding-left: clamp(2rem, 8vw, 24rem);
	}

	@media (max-width: 767px) {
		row-gap: 4rem;
	}

	&:not(:last-child) {
		@media (max-width: 767px) {
			margin-bottom: 4rem;
		}
	}
}

.screen-11__image_wrapper {
	@media (min-width: 768px) {
		flex: 0 1 50%;
	}

	@media (max-width: 767px) {
		margin-inline: calc($padding * -1);

		aspect-ratio: 1;
	}
}

.screen-11__image {
	height: 100%;
	max-width: 100%;
}
