.screen-02__wrapper {
	height: 100%;

	@media (min-width: 768px) {
		display: flex;
		align-items: flex-start;
	}
}

.screen-02__content {
	@media (min-width: 768px) {
		flex: 0 1 50%;
		align-self: center;

		padding-right: 4rem;
	}

	&:not(:last-child) {
		@media (max-width: 767px) {
			margin-bottom: 2rem;
		}
	}
}

.screen-02__image_wrapper {
	@media (min-width: 768px) {
		flex: 0 1 50%;
	}
}

.screen-02__image {
	max-width: 100%;
	width: 100%;
}
