.screen-05__wrapper {
	height: 100%;

	@media (min-width: 768px) {
		display: flex;
	}
}

.screen-05__content {
	@media (min-width: 768px) {
		flex: 0 1 50%;
		align-self: center;

		padding-right: 4rem;
	}

	&:not(:last-child) {
		@media (max-width: 767px) {
			margin-bottom: 2rem;
		}
	}
}

.screen-05__images {
	display: grid;
	grid-template-rows: repeat(2, 1fr);

	@media (min-width: 768px) {
		flex: 0 1 50%;
	}
}

.screen-05__image_wrapper {
	@media (max-width: 767px) {
		margin-inline: calc($padding * -1);
	}
}

.screen-05__image {
	width: 100%;
	height: 100%;
}
