.screen-06__wrapper {
	@media (min-width: 768px) {
		display: flex;
		align-items: center;
	}
}

.screen-06__heading {
	@media (min-width: 768px) {
		flex: 0 1 50%;

		padding-right: 4rem;
	}

	&:not(:last-child) {
		@media (max-width: 767px) {
			margin-bottom: 4rem;
		}
	}
}

.screen-06__articles {
	display: grid;

	@media (min-width: 768px) {
		flex: 0 1 50%;

		row-gap: clamp(4rem, 3.1vw, 6rem);
	}

	@media (max-width: 767px) {
		row-gap: 4rem;
	}
}
